* {   
    margin: 0;
}

/* inicio nav */
header {
    display: flex;
    align-items: center;
    flex-direction: column;
}


img {
    width: 450px;
} 


nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0px;    

}

nav ul li {
    margin: 15px;
}

nav ul li a{
    text-decoration: none;
}

/* fin nav */


/* productos */

.productos {    
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    
    
}

.producto_detalle {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: solid; */
    box-shadow: 1px 1px 1px 1px blue;
    margin: 20px;
    /* height: 90%; */
    border-radius: 8px;


}

.pago_normal {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

.pago_otro {
    color: #3d3ef8;
}

.stock {
    font-size: 13px;
}

.divisor_precio {
    border-top: 2px solid blue;    
    border-right-style: solid;
    width: 200px;
    margin-top: 8px
    
}

.img_producto {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    height: 80%;
}

h4 {
    text-align: center;
    width: 227px;
    height: 36px;
}

.cantidad {
    width: 40px;
}

button {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;     
}

/* fin productos/*




/* formulario */

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 50px;
}


.seleccion {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
}

.radio {
    margin-left: 5px;
} 


.eleccion_producto {
    margin-top: 5px;
    margin-bottom: 20px;
}

.opcion {
    margin-top: 20px
}


textarea  {
    height: 150px;
    width: 400px;
}


.boton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
   
    
    
}
/*fin formulario*/


/* footer */

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 25px;
}

.separador {
    border-top: 8px solid blue;
    width: 450px;

}

/*fin footer*/

@media(min-width: 700px){
    header {
    display: flex;
    align-items: center;
    flex-direction: row;
    }

    img {
        width: 300px;
    }

    .separador {        
        width: 80%;        
    }

    nav ul li {
        margin-right: 50px;
    }

}

@media(min-width: 999px){
    nav ul li {
        margin-right: 100px;
    }    
} 



