* {
    margin: 0;
}

/* inicio nav */
header {
    display: flex;
    align-items: center;
    flex-direction: column;
}


img {
    width: 450px;
} 


nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;    

}

nav ul li {
    margin: 15px;
}

nav ul li a{
    text-decoration: none;
}

/* fin nav */

@media(min-width: 700px){
    header {
    display: flex;
    align-items: center;
    flex-direction: row;
    }

    img {
        width: 300px;
    }     
}